/* 首页css样式 */
/* 版心 */
.wrapper {
  width: 1200px;
  margin: 0 auto;
} 
body{
    background-color: #f3f5f7;
}
/* 头部区域 */
.header{
    height: 100px;
    display: flex;
    background-color: #fff;
}
.header .wrapper{
    display: flex;
    padding-top: 29px;
}
/* logo */
.logo a{
    display: block;
    /* 为了超链接和优化排名 */
   
    height: 41px;
    width: 195px;
    background-image: url(../images/logo.png);
    font-size: 0;
}
/* 导航 */
.daohang{
   
    margin-left: 102px;   
}
.daohang ul{
    display: flex;
}

.daohang li{
    margin:0 24px ;
}
   
.daohang li a{
    display: block;
    line-height: 27px;
    font-size: 15px;
    padding: 6px 8px;
}

/* active表示默认选中，以后遇见直接调用 */
.daohang li .active{
    border-bottom: 2px solid #00a4ff;
}

.daohang li a:hover{
    border-bottom: 2px solid #00a4ff;
}
/* 搜索 */
.search{
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    margin-left: 64px;
    border-radius: 20px;
    padding-left: 19px;
    padding-right: 12px;
}

.search input{
    /* 这里的flex1就是flex布局中的弹性伸缩比，占剩余盒子空间的1/1 */
    flex: 1;
    border: 0;
    /* 这一点很重要啊，就是去掉边框 */
    outline: none;
    /* 表示去掉焦点框，就是外轮廓 */
    /* margin: 10px 0 10px 19px; */
    background-color: #f3f5f7;
}

.search a{
    display: block;
    width: 16px;
    height: 16px;
    margin: 12px 0 12px  0;
    background-image: url(../images/search.png);
}

.search ::placeholder{
    font-size: 14px;
    color: #9999;
}
 /* 用户 */
.user{
    margin-top: 4px;
    margin-left: 32px;
}

.user img{
    vertical-align: middle;
    /*vertical-align: middle专门用来处理行内块和行内垂直方向对齐方式  */
    margin-right: 7px;
}

.user span{
    font-size: 16px;
    color: #666;
}
 /* 头部结束 */

 /* bunner位置 */
 .banner{
    height: 420px;
    background-color:#0092cb;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* 左侧导航 */
.banner .left{
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a{
    display: block;
    height: 46px;
    width: 151px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

/* 右导航 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3{
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    padding :14px;
    line-height: 48px;
}

.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right .content dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
    width: 190px;
    height: 53px;
}

.banner .right .content dt{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.banner .right .content span{
    font-size: 12px;
    line-height: 16px;
    color: #00a4ff;
    margin-bottom: 8px;
}

.banner .right .content  dd strong{
    font-size: 12px;
    line-height: 16px;
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right .content a{
    margin-top: 14px;
    text-align: center;
    display: block;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    width: 190px;
	height: 32px;
	background-color: #00a4ff;
	border-radius: 15px;
    outline: 0;
}

/* 精品推荐 */

.recommend .wrapper .box{
    display: flex;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(211,211,211,0.5);
    margin-top: 11px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.recommend .wrapper .box h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend .wrapper .box ul{
    /* 将h3和a的剩余位置全给ul */
    flex: 1;
    display: flex;
}

.recommend .wrapper .box li a{
    font-family: PingFangSC-Regular;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #333333;
    padding: 0 24px;
    /* 给a加边框 因为a是行内元素，内容决定高度 */
    border-right: 1px solid #e0e0e0;
}

.recommend .wrapper .box li:last-child a{
    border-right: 0;
}
.recommend .wrapper .box .modfly{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

/* 推荐课程 */
.course{
    margin-top: 31px;
}
/* 标题公共类 可以公用 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
  }

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    padding-right: 20px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(../images/more.png);
    font-size: 14px;
    color: #999;
}
/* 内容 */
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li{
    width: 228px;
	height: 271px;
    margin-bottom: 14px;
}

.bd li .pic{
    height: 156px;
}

.bd li .text{
    height: 115px;
    padding: 20px;
    background-color: #fff;
}

.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p{
    height: 20px;
    font-size: 14px;
    color: #999;
}

.bd li .text p span{
    color: #fa6400;
}

.bd li text i{
    font-style: normal;
}

/* 前端 */
.hd ul{
    display: flex;
}

.hd li a{
    margin: 60px;
    font-size: 16px;
}

.hd li a:hover{
    color: #00a4ff;
}

.hd li a.active{
    color:  #00a4ff;
}

.bd{
    display: flex;
}
.bd .left{
    margin-right: 15px;
    width: 228px;
}

.bd .right{
    width: 957px;
}

.bd .right .top{
   margin-bottom: 15px;
   height: 100px;
}

/* 版权 */
.footer{
    margin-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper{
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.footer .wrapper .left{
    width: 432px;
    height: 148px;
}

.footer .wrapper .left p{
    margin-top: 24px;
    font-size: 12px;
    color: #666;
    margin-bottom: 14px;
}

.footer .wrapper .left a.bottom {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 36px;
}

.footer .wrapper .right{
    display: flex;
}

.footer .wrapper .right dl{
    margin-left: 130px;
}

.footer .wrapper .right dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
    line-height: 23px;
}

.footer .wrapper .right dd a{
    line-height: 24px;
    font-size: 12px;
    color: #666;
}
