*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header {
  width: 100%;
  height: 1.17333333rem;
  padding-left: 0.45333333rem;
  padding-right: 0.4rem;
  display: flex;
  align-items: center;
}
.header .iconfont {
  font-size: 0.45333333rem;
  margin-right: 3.17333333rem;
}
.header h3 {
  font-size: 0.45333333rem;
  font-weight: medium;
  color: #333;
}
.header .times {
  margin-left: 2.08rem;
  font-weight: medium;
  font-size: 0.4rem;
  color: #2cb5a5;
}
.bigimg {
  text-align: center;
  padding: 0 1.8rem;
  margin-top: 0.81333333rem;
  margin-left: auto;
  margin-bottom: 0.89333333rem;
}
.bigimg a {
  display: block;
  width: 6.4rem;
  height: 5.49333333rem;
  margin-bottom: 0.48rem;
}
.bigimg a img {
  width: 100%;
  height: 100%;
}
.bigimg p {
  font-weight: medium;
  font-size: 0.42666667rem;
}
.bigimg p i {
  font-style: normal;
  color: #16C2A3;
  margin-right: 0.13333333rem;
}
.hezi {
  width: 9.2rem;
  height: 2.08rem;
  border: 0.01333333rem solid #EDEDEDE5;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.hezi .box {
  align-items: center;
  padding: 0 0.4rem;
  width: 100%;
  height: 100%;
  display: flex;
}
.hezi .box img {
  width: 1.06666667rem;
  height: 1.06666667rem;
  margin-right: 0.36rem;
}
.hezi .box .center {
  margin: 0.26666667rem 0;
}
.hezi .box .center p {
  color: #3C3E42;
  font-weight: medium;
  font-size: 0.42666667rem;
}
.hezi .box .center i {
  display: block;
  margin-top: 0.10666667rem;
  font-style: normal;
  color: #848484;
  font-size: 0.34666667rem;
}
.hezi .box .right {
  margin-left: auto;
  font-size: 0.45333333rem;
  color: #848484;
}
