body {
  width: 100%;
  height: 100vh;
  /* background-color: #292a2d; */
  display: flex;
}
.left{
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 100%;
  background-color: #212327;
  /* background-color: #fff; */
  text-align: center;
  padding: 20px 0;
}
.left .bottom{
  margin-top: 580px;
}
/* logo */
@keyframes yaotou {
  0%{
    rotate:30deg;

  }
  50%{
    rotate: 0;
  }
  100%{
    rotate:-30px
  }
}
.left .logo{
  margin-bottom: 25px;
  width: 80px;
  height: 44px;
  display: flex;
}
.left .logo a{
  justify-content: center;
  display: flex;
  height: 44px;
  width: 44px;
  margin: 0 auto;
  animation: yaotou 1s infinite alternate;
}

/* 展开导航 */
.left .nav{
  margin-bottom: 25px;
  display: flex;
}
.left .nav a{
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  margin: 0 auto;
}
.left .nav a:hover{
  cursor: pointer;
  background-color: #44444d;
}
.left .nav a i{
  font-size: 30px;
  color:#767b82;
}
/* 新建聊天 */

.left .chat a{
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  margin: 0 auto;
}
.left .chat a:hover{
  cursor: pointer;
  background-color: #44444d;
}
.left .chat i{
  font-size: 30px;
  color:#767b82;
}
/* 手机登录 */
.left .phone{
  margin-bottom: 20px;
}
.left .phone a{
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  margin: 0 auto;
}
.left .phone a:hover{
  cursor: pointer;
  background-color: #44444d;
}
.left .phone i{
  font-size: 30px;
  color:#767b82;
}
/* 头像 */
.left .photo a{
  justify-content: center;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.left .photo img{
  width: 32px;
  height: 32px;
  border-radius: 16px;
}


/*  */
.right{
  position: relative;  /* 新增 */
  z-index: 1;
  color: #fff;
  text-align: center;
  /* background-color: #292a2d; */
  flex: 1;
  margin:0 10vh;
  height: 100vh;
}
/* h 标签 */
/* 酷酷的动画 */
@keyframes jump {
  form{
    transform: translateY(10px);
  }to{
    transform: translateY(-10px);
  }
}
.right .h{
  letter-spacing: 3px;
  text-indent: 3em;
  margin: 0 auto ;
  color: #fff;
  margin-top: 350px;
  margin-bottom: 15px;
}
.right .h img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  animation: jump 1s infinite alternate;
}
/* p 标签 */
.right .p{
  margin-bottom: 20px;
}

.right .text{
  margin: 0 auto;
  width: 600px; 
  height: 112px;
  background-color: #404045;
  border-radius: 30px;
  padding: 10px;
}

.right .text textarea{
  opacity: 1;
  letter-spacing: 1.5px;
  padding: 10px;
  font-size: 20px;
  color: rgb(var(--ds-rgb-label-1));
  width: 580px;
  height: 56px;
  background-color: #404045;
  resize: none;
  border: 0;
  outline:none;
  position: relative;
}
/* 底部 */
.right .text .bottom {
  display: flex;
  justify-content: space-between;
}

.right .text .bottom .left2{
display: flex;
}

/* 深度思考按钮 */
.right .text .bottom .left2 .think{
  font-size: 14px;
  padding: 2px;
  height: 30px;
  border: 0.5px solid #fff;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.right .text .bottom .left2 .think:active{
  background-color: #42486a;
  color: #48aee7;
}

/* 联网搜索按钮 */
.right .text .bottom .left2 .online{
  padding: 2px;
  font-size: 14px;
  height: 30px;
  border: 0.5px solid #fff;
  margin-right: 10px;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
}

.right .text .bottom .left2 .online:active{
  background-color: #42486a;
  color: #48aee7;
}

.right .text .bottom .right2{
  display: flex;
  font-size: 20px;
}

/* 发送按钮 */
.right .text .bottom .right2 .send{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  border:0.5px solid #fff;
  vertical-align: middle;
  cursor: pointer;
}

/* 链接按钮 */
.right .text .bottom .right2 .link{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  border:0.5px solid #fff;
  vertical-align: top;
  cursor: pointer;
}

.right .text .bottom .right2 .link:active{
  background-color: #42486a;
}

.right .text .bottom .right2 .send:active{
  background-color: #42486a;
}

.right .text .bottom .right2 .iconfont{
  vertical-align: top;
}

/* 背景代码于函数 */
body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

/* 代码文字基础样式 */
.code {
  position: absolute;
  font-family: monospace;
  opacity: 0.8;
  white-space: nowrap;
  text-shadow: #44444d 0 0 0.8px 0;
  animation: flow 15s linear infinite;
  left: -20vw;
  z-index: 0 !important;  /* 确保代码雨在图层底部 */
}

@keyframes flow { to { left: 120vw; } }

.box{
  z-index: 10;
}